*{
    margin: 0;
    padding: 0;
}
.main{
 position: fixed;  
 background-color: rgb(69, 39, 39);
 height: 100vh;
 width: 20vw;
 overflow: hidden;
 
}
.head{
   background-color:rgb(90, 75, 75);
   height: 70px;
   text-align: center;
   align-items: center;
    width: 100%;
font-size: 28px;
    letter-spacing: 5px; 
}
.sidelink{
    font-size: 30px;
   list-style: none;
   line-height: 100px;
   /* margin-top: 90px; */
   /* margin-left: 10px; */
   text-align: center;
}
a{
text-decoration: none;
color: white;

}
li:hover{
    padding-left: 10px;
}
ul li{
    display: none;
    /* list-sty le: none; */
    border: none;
}
li{
    border: 1px solid black;
}
ul{
    padding-left: 90px;
}
.bar{
    height: 50px;
    width: 45px;
    z-index: 4;
    /* overflow: hidden; */
    /* background-color: blue; */
}
.bar{
    position: relative;
    left: 10px;
    top: 10px;
    cursor: pointer;
}
.bar:hover{
    /* padding: 4px; */
}
.maingo{
    transform: translate(-440px,0);
    position: absolute;
    transition: 1.4s;


}
