*{
    margin: 0;
    padding: 0;
    }
    body{
        background-color: black;
        padding-top: 10px;
        /* color: red; */
    }
    main{
        /* padding: 30px; */
        background-color:rgb(122, 103, 103);
        height: 90vh;
        display: grid;
        column-gap: 5px;
        /* row-gap: 4px; */
        grid-template-columns: 45% 55%;
        
    }
    .one{
        background-color: rgb(70, 70, 73);
        height: 20vh;
        display: flex;
        /* justify-content: center; */
    
       
    }
    .two{
        /* background-color: yellow; */
        background-color: rgb(70, 70, 73);
        height: 85vh;
        /* grid-row: 1/3; */
        grid-row: 1/3;
        grid-column: 2/3;
     
    
    }
    .three{
        /* background-color: black; */
        background-color: rgb(70, 70, 73);
        height: 64vh;
        
    }
    .four{
        /* background-color: white; */
        background-color: rgb(70, 70, 73);
        height: 10vh;
        grid-column: 1/3;
        margin-bottom: 30px;
        align-items: start;
    }
    .textone{
        color: rgb(22, 20, 20);
        /* color: white; */
        display: grid;
        grid-template-columns: auto;
        padding: 30px;
        position: relative;
        top: 20px;
        left: 20px;
    
    
        
    }
    .search,.home{
        font-size: 24px;
        margin-left: 7px;
    }
    i:hover{
        cursor: pointer;
        color: rgb(131, 130, 127);
    }
    .textthree{
        margin: 15px;
     
        
    }
    .threeone ,.threeonetitle{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .fa-plus{
        margin-right: 5px;
    }
    .d i{
        margin-left: 10px;
    }
    .c button{
        padding: 10px 30px;
        margin: 10px;
        background-color: rgb(120, 118, 118);
        border-radius: 20px;
        color: white;
    }
    .c button:hover{
        cursor: pointer;
        background-color: rgb(58, 33, 33);
    }
    .c a{
        text-decoration: none;
        color: white;
    }
    .titlecol{
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        color: rgb(144, 138, 138);
        margin-bottom: 10px;
        margin-top: 16px;
    }
    .colone img{
        width: 50px;
        height: 55px;
        /* margin-right: 10px; */
    
    }
    .colone{
        display: flex;
    }
    .textthree .img:hover{
    
        background-color: teal;
        padding: 1px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    .top{
        display: flex;
        justify-content: space-between;
        background-color: rgb(49, 49, 89);
        height: 57px;
    }
    .e button{
        border-radius: 20px;
        background-color: rgb(83, 73, 73);
        margin: 0 10px;
        border-color: transparent;
    }
    .f i{
        margin: 0 10px;
    }
    .f button{
        padding: 5px 10px;
        border-radius: 10px;
        background-color: rgb(47, 70, 42);
        color: white;
    }
    .textfour{
        /* display: flex;
        justify-content: center;
        align-items: center; */
        height: 11vh;
    }
    .textfour .play{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .textfour i{
        margin: 10px;
    }
    .textfour .input{
        display: flex;
        justify-content: center;
    
    }
    #progressbar{
        width: 90%;
        background-color: blue;
    }
    .g{
        display: flex;
        justify-content: space-between;
        margin: 10px 4px;
        color: antiquewhite ;
    
    }
    .songone{
        display: flex;
        color: white;
    }
    .imgtext h1{
        max-width: 80px;
        max-height: 50px;
        overflow: hidden;
        font-size: larger;
    }
    .imgtext{
        margin-left: 10px;
        font-family: system-ui;
    }
    .songone span{
        color: white;
        
    }
    .songone img{
        height: 60px;
    }
    .songlist{
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        color: rgb(163, 129, 102);
    }
    .sth{
        /* color: blue; */
        margin-left: 110px;
    
    }
    .two{
       overflow-y: scroll;
    }
    .songone:hover{
        cursor: pointer;
        color: blueviolet;
    
    }
    .texttwo{
        /* position: fixed; */
        position: sticky;
        /* width: 100%; */
    }
    .play i{
    color: rgb(30, 38, 27);
    }
    .album{
        display: flex;
        max-width: 60px;
        text-align: center;
        align-items: center;
        max-height:50px ;
    }

    